@import '../../scss/mixins.scss';

.content-container {
    background-color: #fbfbfb;
    width: 100%;
    @include breakpoint-tablet-desktop {
        box-sizing: border-box;
        overflow-y: auto;
        height: calc(100vh - 75px - 50px);
        font-weight: 400;
        width: calc(100vw - 200px);
    }
    @include breakpoint-desktop-2 {
        height: calc(100vh - 83px - 50px);
    }
}
