@import '../../../scss/mixins.scss';

.characters {
    background-color: #fbfbfb;
    position: relative;
    height: 70vh;
    overflow-y: auto;
    padding: 25px 15px;
    @include breakpoint-tablet-desktop {
        padding: 0 0 20px 0;
    }
    .content-container-search {
        background-color: #fbfbfb;
        padding: 25px 15px;
        @include breakpoint-tablet {
            text-align: center;
        }
        @include breakpoint-tablet-desktop {
            text-align: right;
            position: fixed;
            width: calc(100vw - 230px);
        }
        @include breakpoint-desktop-2 {
            width: calc(100vw - 275px);
        }
        .input-search {
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-sizing: border-box;
            color: #ccc;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 5px;
            padding: 10px;
            width: 100%;
            @include breakpoint-tablet {
                width: 50%;
            }
            @include breakpoint-desktop-2 {
                width: 40%;
            }
            &::placeholder {
                color: #ccc;
    
            }
            &:focus {
                border-color: #ccc;
                box-shadow: 0 0 5px rgba(102,175,233,.6);
                outline: none;
            }
        }
        .search-button {
            background-color: #34675C;
            border: none;
            color: white;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            height: 38px;
            outline: none;   
            width: 100%;
            @include breakpoint-tablet {
                border: 2px solid #34675C; 
                width: 20%;
            }
            @include breakpoint-desktop-2 {
                width: 10%;
            }
            &:hover {
                background-color: #B3C100;
                @include breakpoint-tablet {
                    border: 2px solid #B3C100; 
                }
            }
        }
    }
    .characters-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
        @include breakpoint-mobile-2 {
            margin: 0 0 15px 0;
        }
        @include breakpoint-tablet-desktop {
            margin-top: 16%;
        }
    }
    .cards-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .card {
            background-color: white;
            border-radius: 3px;
            box-shadow: 1px 2px 10px #ccc;
            height: auto;
            margin: 20px;
            overflow: hidden;
            padding: 10px;
            width: 100%;
            @include breakpoint-mobile-2 {
                padding: 20px;
            }
            @include breakpoint-tablet {
                width: 25%;
            }
            @include breakpoint-tablet-desktop {
                width: 25%;
            }
            @include breakpoint-desktop-2 {
                width: 15%;
            }
            .card-img { 
                max-width: 100%;
            }
            .card-title {
                display: flex;
                font-family: 'Montserrat', sans-serif;
                justify-content: center;
                margin: 8px 0 15px 0;
                @include breakpoint-tablet {
                    font-size: 13px;
                }
                @include breakpoint-tablet-desktop {
                    font-size: 12px;
                }
            }
            .card-paragraph {
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
            }
            .card-button {
                background-color: #34675C;
                border: none;
                color: white;
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                outline: none;
                padding: 10px;
                width: 100%;
                &:hover {
                    background-color: #B3C100;
                }
            }
        }
    }
}
