@import '../../scss/mixins.scss';

.header {
    background-color: #4Cb5F5;
    display: flex;
    height: 75px;
    padding: 15px;
    @include breakpoint-tablet {
        padding: 10px 30px;
    }
    @include breakpoint-tablet-desktop {
        height: 90px;
        padding: 0 40px;
    }
    @include breakpoint-desktop-2 {
        padding: 0 50px;
    }
    .header-content {
        align-items: center;
        display: flex;
        .header-title {
            color: #313131;
            font-family: 'Montserrat', sans-serif;
            font-size: 21px;
            font-weight: 400; 
            @include breakpoint-tablet {
                font-size: 25px
            }
        }
        .header-logo {
            padding-right: 5px;
            width: 65px;
        } 
    }
}
