@import '../../scss/mixins.scss';

.content-section {
    background-color: #fbfbfb;
    position: relative;
    padding: 25px 15px;
    @include breakpoint-tablet-desktop {
        padding: 0 0 20px 0;
    }
    .content-section-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
        @include breakpoint-mobile-2 {
            margin: 0 0 15px 0;
        }
        @include breakpoint-tablet-desktop {
            margin-top: 16%;
        }
        @include breakpoint-desktop-2 {
            margin-top: 0%;
        }
    }
    .content-section-buttons {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        .prev-button, .next-button {
            background-color: #34675C;
            border: none;
            color: white;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            height: 30px;
            outline: none;   
            width: 100%;
            margin: 5px;
            cursor: pointer;
            @include breakpoint-tablet {
                border: 2px solid #34675C; 
                width: 20%;
            }
            @include breakpoint-desktop-2 {
                width: 8%;
            }
            &:hover {
                background-color: #B3C100;
                @include breakpoint-tablet {
                    border: 2px solid #B3C100; 
                }
            }
            &:disabled {
                background-color: #ccc;
                color: lighten(#ccc, 30);
                border-color: lighten(#fbfbfb, 30);
                cursor: default;
            }
        }
    }
    .content-section-cards {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .content-section-cards-card {
            background-color: white;
            border-radius: 3px;
            box-shadow: 1px 2px 10px #ccc;
            height: auto;
            margin: 20px;
            overflow: hidden;
            padding: 10px;
            width: 100%;
            @include breakpoint-mobile-2 {
                padding: 20px;
            }
            @include breakpoint-tablet {
                width: 25%;
            }
            @include breakpoint-tablet-desktop {
                width: 25%;
            }
            @include breakpoint-desktop-2 {
                width: 15%;
            }
            .content-section-cards-card-img { 
                max-width: 100%;
            }
            .content-section-cards-card-title {
                display: flex;
                font-family: 'Montserrat', sans-serif;
                justify-content: center;
                margin: 8px 0 15px 0;
                @include breakpoint-tablet {
                    font-size: 13px;
                }
                @include breakpoint-tablet-desktop {
                    font-size: 12px;
                }
            }
            .content-section-cards-card-paragraph {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
            }
            .content-section-cards-card-button {
                background-color: #34675C;
                border: none;
                color: white;
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                outline: none;
                padding: 10px;
                width: 100%;
                &:hover {
                    background-color: #B3C100;
                }
            }
        }
    }
}
